<!DOCTYPE html>
<html lang="{% if lang == 'es' %}es{% else %}en{% endif %}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>alzze</title>
  <meta name="description" content="alzze" />
  <meta name="author" content="alzze" />
  <meta name="view-transition" content="same-origin">
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">
  <script src="/script.js"></script>
</head>
<body>
  {%- set page = 'index' -%}
  {%- set home_href = '/' -%}
  {%- set about_href = '/about.html' if lang == 'en' else '/es/about.html' -%}
  {%- set en_href = '/' -%}
  {%- set es_href = '/es/' -%}
  {% include "header.html" %}
  <main>
    <p class="path">› posts</p>
    <ul class="index">
      {% for post in posts %}
      <li>
        <a class="shot-link" href="{{ post['url'] }}">
          <img class="shot" src="{{ post['image'] }}" alt="{{ post['title'] }}" style="view-transition-name: post-image-{{ post['slug'] }};">
        </a>
        <div class="index-copy">
          <div class="index-head">
            <a class="index-title" href="{{ post['url'] }}">{{ post['title'] }}</a>
            {% if post['date'] %}<time datetime="{{ post['date'] }}">{{ post['date'].replace('-', '/') }}</time>{% endif %}
          </div>
          <p>{{ post['description'] }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </main>
  {% include "footer.html" %}
</body>
</html>
