<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{ post["title"] }} - alzze</title>
  <meta name="description" content="alzze personal blog" />
  <meta name="author" content="alzze" />
  <meta name="view-transition" content="same-origin">
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">
  <meta property="og:image" content="https://alzze.xyz/static/img/conntrack/main.webp">
  <meta name="twitter:image" content="{{post['image']}}">
<meta name="twitter:card" content="summary_large_image">
  <script src="/script.js"></script>
</head>
<body>
  {%- set page = 'post' -%}
  {%- set home_href = '../../' -%}
  {%- set about_href = '../../about.html' -%}
  {%- set en_href = '/posts/' ~ post['slug'] ~ '/' -%}
  {%- set es_href = '/es/posts/' ~ post['slug'] ~ '/' -%}
  {% include "header.html" %}
  <main>
    <p class="path">› <a href="{{ home_href }}">posts</a></p>
    <div class="post-hero">
      <img class="shot" src="{{ post['image'] }}" alt="{{ post['title'] }}" style="view-transition-name: post-image-{{ post['slug'] }};">
    </div>
    <header class="post-meta">
      {% if post['date'] %}<time datetime="{{ post['date'] }}">{{ post['date'].replace('-', '/') }}</time>{% endif %}
      <h1>{{ post["title"] }}</h1>
      <a href="https://x.com/alzzeat" target="_blank" rel="noopener noreferrer" class="author">
        <img src="/img/profile-image.jpg" alt="">
        alzze
      </a>
    </header>
    <article>
      {{ post["content"] }}
    </article>
  </main>
  {% include "footer.html" %}
</body>
</html>
